{% extends "base.html" %} 
{% load staticfiles %} 
{% block header %} 
{% endblock %} 
{% block content %}
<div class="row">

    <div class="col s12 m12 l12">
        <div class="loginBox">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12 center">
                        
                                <i class="material-icons loginIco">account_circle</i>
                               
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name='username'>
                            <label for="first_name">Usuario</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" name='password'>
                            <label for="password">Contraseña</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light" type="submit">
                                Iniciar Sesion
                            </button>
                            
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <p class="center">
                                <span class="grey-text">Nuevo con nostros?</span>
                                <a href="{% url 'cuenta:registro_usuarios'%}">Registrarme</a>
                            </p>
                            
                        </div>
                    </div>
                    <br>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}