{% extends "base.html" %} 
{% load staticfiles %} 
{% block header %} 
{% endblock %} 
{% block content %}
<div class="row">

    <div class="col s12 m12 l12">
        <div class="loginBox">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name='username'>
                            <label for="first_name">username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" name='password'>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <button class="btn waves-effect waves-light" type="submit">
                                Log In
                            </button>

                        </div>
                        <div class="input-field col s6">
                            <p class="center">
                                <a href="">Sing Up</a>
                            </p>

                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="input-field col s12">
                            <p class="">
                                <a href="">RECUPERAR PASSWORD</a>
                            </p>
                    
                        </div> -->
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}